.banner-link {
  text-decoration: none;
}
.banner-link:hover {
  text-decoration: underline;
  color: white;
}

.promo-banner-wrapper {
  /* position: relative; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 60px;
  background-color: #da362c;
}

.promo-span {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}
